/* nav */
.register:hover{
    color: white;
}

/* slider button text */
.get-started{
    color: white;
}
.get-started:hover{
    color: white;
}
/* explore */
.explore{
    background-color: #F4FAFD;
    ;
}

/* footer */
.footer-bg{
    background-color: #161616;
   
    
}
.social-bg{
    
    background-color: #ffffff29;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition-duration: 0.7s;
}
.social-bg:hover{
    background-color: white;
    transition-duration: 0.7s;


}


.social-bg:hover a .fa-instagram{
    color: purple;
    font-weight: 900;
    transition-duration: 0.7s;

}


.social-bg:hover a .fa-facebook{
    color: blue;
    font-weight: 900;
    transition-duration: 0.7s;

}


.social-bg:hover a .fa-twitter{
    color: rgb(45, 141, 179);
    font-weight: 900;
    transition-duration: 0.7s;

}



.social-bg a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    transition-duration: 0.7s;

   
}


