/* nav */
.register:hover{
    color: white;
}

/* slider button text */


.carousel-img{
    filter: brightness(50%);
}

.get-started{
    color: white;
}
.get-started:hover{
    color: white;
}
/* explore */
.explore{
    background-color: #F4FAFD;
    font-size: 12px;
}

/* feedback */
.fa-heart{
    color: red;
}


/* footer */
.footer-bg{
    background-color: #161616;
   
    
}
.social-bg{
    
    background-color: #ffffff29;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition-duration: 0.7s;
}




