/* nav */
.register:hover{
    color: white;
}

/* slider button text */
.get-started{
    color: white;
}
.get-started:hover{
    color: white;
}
/* explore */
.explore{
    background-color: #F4FAFD;
    ;
}

/* stars */
.stars{
    color: ;
}



